* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #efe5f8;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgb(217, 218, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.title{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{ /*specifically target links*/
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.navbar a:hover{
    color: rgb(235, 31, 243);
}

.upload-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    background-color: #CCCCFF;
    width: 600px;
    border: 5px;
    border-style: solid;
    border-color: blueviolet;
    padding: 50px;
    /* margin: 20px; */
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.upload-box:hover{
    background-color: #B19CD9;
    transform: scale(1.05);
}
.upload-box2:hover{
    background-color: #B19CD9;
    transform: scale(1.05);
}

.upload-general{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    /* margin-top: 200px;
    margin-left: 450px; */
}


.upload-general2
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    /* margin-top: 200px;
    margin-left: 450px; */
}

.upload-box2
{
    background-color: #CCCCFF;
    width: 80%;
    height: 500px;
    border: 5px;
    border-style: solid;
    border-color: blueviolet;
    padding: 50px;
    margin: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.box-header{
    /* margin-left: 20px; */
    text-align: center;
}

.placeDescrip{
    
    /* width: 500px;
    height: 100px; */
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
    width: 100%; 
    max-width: 490px;
    height: 150px;
}

.upload-post{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: #8D6EC7;
    color: white;
}

.upload-post:hover{
    margin-top: 10px;
    background-color: #B19CD9;
    color: white;
}

.logout-note{
    font-size: 30px;
    text-align: center;
    margin-top: 350px;
}


#button-box
{
    font-family: sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: space-evenly;
    width: 250px;
}

.buttons
{
    background-color: inherit;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

.button-title
{
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.button-title:hover{
    color: rgb(235, 31, 243);
}

#a-tag
{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}


#container
{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 85vh;
    align-items: center;
    justify-content: center;
    
}

.main-header
{
    text-align: center;
    padding: 0%;
    margin: 0%;
    /* border: 1px solid black; */
    font-size: 50px;
    margin-bottom: 100px;
}

#image
{
    width: 50%;
    height: 50%;
}

#outputImage
{
    width: 500px;
    height: 500px;
}

.post-titles
{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;

}

#post-heading-title
{
    margin-top: 100px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
}

#outputName, #outputLocation, #outputDescrip
{
    font-weight: 400;
    font-size: auto;
}

#placeName, #placeLocation
{
    font-size: 16px;
    height: 20px;
}

.input-titles
{
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 1080px) {
    .upload-box
    {
        width: 100%;
    }
}