* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #efe5f8;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgb(217, 218, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.title{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{ /*specifically target links*/
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.navbar a:hover{
    color: rgb(235, 31, 243);
}

.upload-box{
    background-color: #CCCCFF;
    width: 600px;
    border: 5px;
    border-style: solid;
    border-color: blueviolet;
    padding: 50px;
    margin: 20px;
}

.upload-general{
    margin-top: 200px;
    margin-left: 450px;
}

.box-header{
    margin-left: 20px;
}

.placeDescrip{
    width: 500px;
    height: 100px;
}

.upload-post{
    margin-top: 10px;
    background-color: #8D6EC7;
    color: white;
}

.upload-post:hover{
    margin-top: 10px;
    background-color: #B19CD9;
    color: white;
}

.logout-note{
    font-size: 30px;
    text-align: center;
    margin-top: 350px;
}